<!DOCTYPE html>
<html>
<head>
  {{static.meta.html}}
  <title>{{title}}</title>
  {{static.style.html}}
</head>
<body>
  <div id="react-mount">
    <div data-reactroot="" data-reactid="1" data-react-checksum="-1838308892">
      {{static.menu.tt}}
      <div data-reactid="54">
        <div class="ui container" data-reactid="55">
          <div class="breakpoint-min-width-700" data-reactid="56">
            <div
              style="overflow-y:auto;padding-right:calc(0.75rem - 2px);position:absolute;width:calc(12rem - 2px);border-right:1px solid lightgrey;"
              data-reactid="57">
              <ul style="list-style:none;margin-left:0;margin-top:0.75rem;" data-reactid="58">
                <li style="margin-bottom:0.375rem;" data-reactid="59"><a style="box-shadow:none;"
                    href="/dedag/geschiedenis.html" data-reactid="60">Geschiedenis</a></li>
                <li style="margin-bottom:0.375rem;" data-reactid="61"><a style="box-shadow:none;"
                    href="/dedag/index.html" data-reactid="62">Concept</a></li>
                <li style="margin-bottom:0.375rem;" data-reactid="63"><a style="box-shadow:none;"
                    href="/dedag/inschrijving.html" data-reactid="64">Inschrijving</a></li>
                <li style="margin-bottom:0.375rem;" data-reactid="65"><a style="box-shadow:none;"
                    href="/dedag/locatie-contact.html" data-reactid="66">Locatie & Contact</a></li>
                <li style="margin-bottom:0.375rem;" data-reactid="65"><a style="box-shadow:none;"
                    href="/dedag/programma/index.html" data-reactid="66">Programma</a></li>
                <li style="margin-bottom:0.375rem;" data-reactid="65"><a style="box-shadow:none;"
                    href="/dedag/toeschouwers.html" data-reactid="66">Toeschouwers</a></li>
              </ul>
            </div>
            <div style="padding:0 1.5rem;padding-left:calc(12rem + 1.5rem);" data-reactid="67">
              <div class="markdown" data-reactid="68">
               {{content}}
              </div>
            </div>
          </div>
          <div class="breakpoint-max-width-700" data-reactid="71">
            <div style="padding-left:15px;" data-reactid="72">
              <div role="combobox" aria-expanded="false" class="ui fluid search selection dropdown" data-reactid="73">
                <select type="hidden" aria-hidden="true" data-reactid="74">
                  <option selected="" value="" data-reactid="75"></option>
                  <option value="/dedag/geschiedenis.html" >Geschiedenis
                  </option>
                  <option value="/dedag/index.html" >Concept</option>
                  <option value="/dedag/inschrijving.html/">Inschrijving</option>
                  <option value="/dedag/locatie-contact.html" >Locatie & Contact</option>
                  <option value="/dedag/programma/index.html" >Programma</option>
                  <option value="/dedag/toeschouwers.html" >Toeschouwers</option>
                </select><input type="text" value="" aria-autocomplete="list" class="search" name="-search"
                  autocomplete="off" tabindex="0" />
                <div class="text" data-reactid="81"></div><i aria-hidden="true" class="dropdown icon"
                  data-reactid="82"></i>
                <div role="listbox" class="menu transition" data-reactid="83">
                  <div style="pointer-events:all;" role="option" aria-checked="false" aria-selected="true"
                    class="selected item" data-reactid="84">
                    <!-- react-text: 85 -->AGORA: KERKGEBOUW - WEEFSEL VAN ZINGEVING
                    <!-- /react-text -->
                  </div>
                  <div style="pointer-events:all;" role="option" aria-checked="false" aria-selected="false" class="item"
                    data-reactid="86">
                    <!-- react-text: 87 -->Jute
                    <!-- /react-text -->
                  </div>
                  <div style="pointer-events:all;" role="option" aria-checked="false" aria-selected="false" class="item"
                    data-reactid="88">
                    <!-- react-text: 89 -->Clair - Obscur
                    <!-- /react-text -->
                  </div>
                  <div style="pointer-events:all;" role="option" aria-checked="false" aria-selected="false" class="item"
                    data-reactid="90">
                    <!-- react-text: 91 -->De Madonna van de Tederheid
                    <!-- /react-text -->
                  </div>
                </div>
              </div>
            </div><br data-reactid="92" />
            <div class="markdown" data-reactid="93">
             {{content}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>